
*~

*.blend1
*.kra

build/
build/*
build_cmake/
build_cmake/*
cmake-build*

GLFW/*
glad/*
glad.zip

callgrind.out*
gmon.out
gprof.txt
perf.data

logs*

ptest/.venv
ptest/math-test
ptest/ptest_pmath_vec3
ptest/bin/
ptest/__pycache__
ptest/*.o
ptest/testdata.out/
__pycache__/

tmp/
